<p id="notice"><%= notice %></p>

<h1 class="text-center pt-2">Books</h1>

<div class="row py-4">
  <div class="col-sm-3">
    <%= search_form_for @q do |f| %>
      <div class="form-group">
      <%= f.label :status_eq, "Filtro por estado" %>
      <%= f.select :status_eq, options_for_select(Book.statuses , @q.status_eq), {},{class: 'form-control'} %> 
      </div>
      <%= f.submit "Buscar", class: 'btn btn-primary' %>
      <%= link_to 'Mostrar todo', books_path, class: 'btn btn-primary' %>
      <% end %>
  </div>
</div>

<%= render 'books/deck' %>
